*{
    margin:  0;
    padding: 0;
}

#root{
    max-width: 100%;
    height: 100vh;
}

#root .navbar-section{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.navbar-section .users svg{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navbar-section .logo h1{
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.navbar-section .search-bar{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.search-bar input{
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
}



