@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Navbar Section */
.header-section{
    max-width: 100%;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

.header-section .logo-img{
    width: 50px;
    height: 50px;
}

.logo-img img{
    width: 100%;
    height: 100%;
}

.header-section .logo-content ul{
    display: flex;
    list-style-type: none;
}

.logo-content ul li{
    margin: 0px 20px;
    font-size: 20px;
    cursor: pointer;
}

/* Resturant Section */

.body-section{
    max-width: 100%;
}

.body-section h1{
    max-width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.restuarant-container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 30px;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
}

.resturant-card{
    /* width: 220px; */
    background-color: #ffffff9c;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    transition: 0.1s linear ;
    cursor: pointer;
}

.resturant-card :hover{
    transform: scale(0.85)
}

.resturant-card .res-img{
    width: 100%;
    height: 175px;
    margin-bottom: 10px;
}

.res-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.resturant-card .res-content h4{
    font-size: 18px;
    margin-bottom: 10px;
}

.res-content h6{
    font-size: 16px;
    margin-bottom: 10px;
}

.res-content .cuisine{
    font-size: 12px;
    margin-bottom: 10px;
    color: #777;
}

.res-content .rating{
    font-size: 12px;
    color: #000;
    margin-bottom: 10px;
}

.rating span{
    background-color: rgb(6, 163, 6);
    padding: 2px 5px;
    color: #fff;
    border-radius: 2px;
}

.res-content .location{
    font-size: 16px;

}


/* Mobile Device */
@media screen and (max-width:500px) {
    .restuarant-container{
        grid-template-columns: 200px 200px;
    }

    .resturant-card{
        justify-self: center;
    }
}

@media screen and (max-width:470px) and (min-width: 310px) {
    .restuarant-container{
        grid-template-columns: 1fr;
    }


}